<form class="flexcol at-form" autocomplete="off" data-actor-id="{{actor._id}}">
    <section class="sheet-body resource-container flexcol">
        <div>
            <div class="at-resources-holder">
                <div class="at-resource" style="height: 3.5rem; gap: 1.5rem; width: 100%;">
                    <label class="at-item-name">Targeting:</label>
                    <div class="at-resource-content">
                        <button onclick="toggleAT('at-targetDrp')" class="atw-dropbtn atw-small-dropdown" style="width: 12rem;" id="at-targetButton">
                            {{target}}
                        </button>
                        <div id="at-targetDrp" class="atw-dropdown-content" style="width: 12rem; text-align: center;">
                            {{#each targets as |target|}}
                                <a onclick="toggleAT('at-targetDrp')" class="at-target-entry" data-id="{{target.id}}">{{target.name}}</a>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="at-resources-holder">
                <div class="at-block-holder">
                    <div id="atw-weapons">
                        {{#each weapons as |item id|}}
                        <li class='item flexrow' data-item-id='{{item._id}}'>
                            <div class="atw-resource">
                                <div class='atw-item-name'>
                                    <div class='atw-item-icon'>
                                        <a class='rollable' data-roll-type='item'>
                                            <img class="atw-type-img"
                                                src='systems/pmttrpg/assets/damageTypes/{{item.system.damageType}}.png'
                                                title='Attack' width='24' height='24' />
                                        </a>
                                    </div>
                                    <h4 class="atw-item-text">{{item.name}}</h4>
                                </div>
                                <div>
                                    {{#with (rctx item) as |rollContext|}}
                                    <h4 class="atw-item-text atw-rollText">
                                        {{rollContext.diceCount}}d{{rollContext.diceMax}}+{{rollContext.dicePower}}</h4>
                                    {{/with}}
                                </div>
                            </div>
                        </li>
                        {{/each}}
                        {{#if useExtraRoll}}
                            {{#with extraRoll as |roll|}}
                            <li class='item flexrow' data-item-id='recycle'>
                                <div class="atw-resource">
                                    <div class='atw-item-name'>
                                        <div class='atw-item-icon'>
                                            <a class='rollable' data-roll-type='item'>
                                                <img class="atw-type-img"
                                                    src='systems/pmttrpg/assets/damageTypes/{{roll.damageType}}.png'
                                                    title='Recycled' width='24' height='24' />
                                            </a>
                                        </div>
                                        <h4 class="atw-item-text">{{roll.name}}</h4>
                                    </div>
                                    <div>
                                    <h4 class="atw-item-text atw-rollText">{{roll.diceCount}}d{{roll.diceMax}}+{{roll.dicePower}} / {{roll.result}}</h4>
                                    </div>
                                </div>
                            </li>
                            {{/with}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div>
    </section>
</form>

<script>
    function setCursorRight() {
        const input = document.activeElement;
        const length = input.value.length;
        input.setSelectionRange(length, length);
    }

    function unfocus(event) {
        if (event.key == "Enter") {
            const input = document.activeElement;
            input.blur()
        }
    }

    function toggleAT(element) {
        document.getElementById(element).classList.toggle("atw-show");
    }
</script>

<style>
    #at-weapons {}

    .at-reactionText {
        color: red;
        font-weight: bold;
        align-self: center;
        justify-self: center;
    }

    .at-def-roll {
        display: flex;
        gap: 0.5rem;
        height: 4rem;
        padding: 1%;
        justify-content: center;
        align-items: center;
    }

    .at-block-holder {
        height: 15rem;
        overflow-y: scroll;
    }

    .at-tab-bar {
        display: flex !important;
        justify-content: space-around;
        height: 2.5rem;
        background: none !important;
        border: none !important;
        padding: 0% 0% 1% 0% !important;
    }

    .atw-tab-button {
        padding: 1%;
        background: slategrey;
        width: 8rem;
        text-align: center;
        align-content: center;
        justify-content: center;
        height: 2rem;
        margin: 0px;
        justify-items: center;
        border: 3px solid silver;
        font-size: 15px;
    }

    .at-clashDescription {
        overflow-y: scroll;
        width: 100%;
        padding: 0 2% !important;
        text-wrap-mode: wrap;
    }

    .at-statblock-container {
        padding: 2% !important;
        columns: 2;
        display: flex;
        gap: 0.5rem;
    }

    .at-rollInfo {
        height: 9rem;
        width: 8rem;
        padding: 2% !important;
    }

    .at-resource {
        background-color: cadetblue;
        border: 2px solid black;
        border-radius: 1px;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 0.5rem;
        padding: 5%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .at-item-holder {
        display: flex;
        columns: 2;
        width: 10rem;
        padding: 1%;
        height: 3.5rem;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .at-resource-input {
        background-color: slategray;
        border: 1px solid silver;
        text-align: center;
        width: 4rem;
    }

    .at-nop {
        pointer-events: none;
    }

    .at-resource-content {
        display: flexbox;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        grid: 1 / span 3;
        gap: 0;
        margin: auto;
    }

    .at-resource-divider {
        text-align: center;
    }

    .at-resource-icon {
        width: 2.5rem;
        height: 2.5rem;
        margin: auto;
        padding: 10%;
        background: slategray;
        border: 1px solid silver;
    }

    .at-resource-icon:hover {
        background: rgb(147, 161, 175);
    }

    .at-resources-holder {
        background-color: #1d1b22;
        border: 2px solid slategray;
        padding: 2%;
    }

    .at-padding-t2 {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .at-padding-0 {
        padding: 0;
    }
</style>

<style>
    .atw-rollText {
        align-content: center;
        margin: 0 0 0 8rem;
    }

    .atw-item-name {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        gap: 2rem;
        margin: 0px;
        padding: 2%;
        text-align: center;
    }

    .atw-controls {
        position: absolute;
        right: 3%;
    }

    .atw-font-button {
        font-size: 20px;
    }

    .atw-item-icon {}

    .atw-type-img {
        width: 2.5rem;
        height: 2.5rem;
        background-color: slategray;
        border: 1px solid gray;
    }

    .atw-type-img:hover {
        background: rgb(147, 161, 175);
    }

    .atw-dropdown-holder {}

    .atw-item-text {
        text-wrap-mode: nowrap;
        margin: 0px;
        font-size: 20px;
        color: black;
        width: 5rem;
    }

    .atw-attack-type-button {
        width: 5rem;
        height: 2.5rem;
        align-items: center;
        justify-content: center;
        text-align: center;
        justify-items: middle;
        display: flex;
        padding: 2%;
        font-size: 16px;
        font-weight: bold;
    }

    .atw-type-container {
        display: flex;
        gap: 1rem;
        align-content: center;
        align-items: center;
        justify-items: center;
        margin: auto;
    }

    .atw-dropdownIcon {
        margin: 0px !important;
        padding: 10% !important;
    }

    .atw-resource-button {
        background-color: slategray;
        border: 1px solid gray;
        text-align: center;
    }

    .atw-resource-button:hover {
        background: rgb(147, 161, 175);
    }

    .atw-clashDescription {
        overflow-y: scroll;
        width: 100%;
        padding: 2% 2% !important;
        text-wrap-mode: wrap;
        display: block !important;
    }

    .atw-statblock-container {
        padding: 2% !important;
        columns: 2;
        display: flex;
        gap: 0.5rem;
    }

    .atw-rollInfo {
        height: 9rem;
        width: 14rem;
        padding: 0% !important;
        columns: 1;
        display: flex !important;
        gap: 0rem !important;
    }

    .atw-resource {
        background-color: cadetblue;
        border: 2px solid black;
        23 border-radius: 1px;
        display: flex;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 4rem;
        padding: 5% 2%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .atw-resource-input {
        background-color: slategray;
        border: 1px solid silver;
        text-align: center;
        width: 4rem;
    }

    .atw-nop {
        pointer-events: none;
    }

    .atw-resource-content {
        display: flexbox;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        grid: 1 / span 3;
        gap: 0;
        margin: auto;
    }

    .atw-resource-divider {
        text-align: center;
    }

    .atw-resource-icon {
        width: 2.5rem;
        height: 2.5rem;
        border: none;
        margin: auto;
        padding: 10%;
    }

    .atw-resources-holder {
        background-color: #1d1b22;
        border: 2px solid slategray;
        padding: 2%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .atw-padding-t2 {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .atw-padding-0 {
        padding: 0;
    }

    .atw-dropbtn {
        background-color: #3f3f3f;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        text-align: center;
        justify-content: center;
        width: 9rem;
        height: 2rem;
        line-height: 0;
        text-wrap-mode: nowrap;
    }

    .atw-dropbtn-small {
        width: 3rem;
        height: 2rem;
        line-height: 0;
    }

    .atw-dropbtn:hover,
    .atw-dropbtn:focus {
        background-color: slategray;
    }

    .atw-dropdown {
        position: relative;
        display: inline-block;
    }

    .atw-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        border: 1px solid #ddd;
        z-index: 1;
        max-height: 20rem;
    }

    .atw-dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .atw-dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .atw-show {
        display: block;
    }
</style>